{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Matricule</th>
                <td>{{ formation.matricule }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ formation.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ formation.nom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ formation.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ formation.email }}</td>
            </tr>
            <tr>
                <th>Ministere</th>
                <td>{{ formation.Ministere.nom }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ formation.formation }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('formation_index') }}">back to list</a>

    <a href="{{ path('formation_edit', {'id': formation.id}) }}">edit</a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
