{#{% extends 'base.html.twig' %}#}

{#{% block title %}Liste des demandes{% endblock %}#}

{#{% block body %}#}
{#    <a href="{{ path('visite_new') }}">Create new</a>#}
{#{% endblock %}#}

{% extends 'base.html.twig' %}

{% block title %}Demande | Plateforme demandeurs!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
{% endblock %}
{% block body %}
<div class="container">
    <div id="wizard_container">
        <!-- Leave input above for security protection, read docs for details -->
        <div id="middle-wizard">
            <div class="question_title">
                <h3>Listes des demandes</h3>
            </div>
            <div class="row">
                <table class="table" id="list-demandes">
                    <thead>
                    <tr>
                        <th>Date demande</th>
                        <th>Prenom_visiteur</th>
                        <th>Nom_visiteur</th>
                        <th>Date de Naissance</th>
                        <th>Lieu de Naissance</th>
                        <th>Telephone</th>
                        <th>Email</th>
                        <th>Afficher</th>
                        <th>Statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for visite in visites %}
                        <tr>
                            <td>{{ visite.dateVisite ? visite.dateVisite|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ visite.prenomVisiteur }}</td>
                            <td>{{ visite.nomVisiteur }}</td>
                            <td>{{ visite.datenaiss ? visite.datenaiss|date('d-m-Y') : '' }}</td>
                            <td>{{ visite.lieunaiss }}</td>
                            <td>{{ visite.telephone }}</td>
                            <td>{{ visite.email }}</td>
                            <td align="center">
                                <a href="{{ path('visite_show', {'id': visite.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            </td>
                            <td>
                             {% if visite.reponse is null %}
                                <a href="{{ path('visite_edit', {'id': visite.id}) }}" class="demandenok">Traiter la demande </a>
                            {% elseif visite.reponse == 'Demande rejetée' %}
                                    <a href="{{ path('visite_edit', {'id': visite.id}) }}" class="demandeokR">Demande rejetée </a>   
                                    {% else %}
                                 <a href="{{ path('visite_edit', {'id': visite.id}) }}" class="demandeok">Demande validée</a>
                            {% endif %}     
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9" style="text-align: center">Aucune demande pour l'instant</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <!-- /Container -->

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#list-demandes').DataTable();
        } );
    </script>
{% endblock %}
